<div class="card">
    <div class="grid">
        <div class="col-12 text-center">
            <h1> Website - Cửa hàng bán đồ ăn nhanh</h1>
        </div>
        <div class="col-12 text-center">
            <h6>
                Chào mừng bạn đến với trang web của chúng tôi - nơi tạo nên sự hài lòng và ngon miệng với những món ăn
                nhanh tươi ngon và đa dạng. 
                <br>Chúng tôi tự hào giới thiệu một không gian trực tuyến thú vị, nơi bạn có thể
                dễ dàng khám phá và lựa chọn từ một bảng menu đa dạng với những món ăn phong phú, đảm bảo đáp ứng mọi khẩu vị.
                <br><br>
                Với cam kết về chất lượng và sự tươi ngon, chúng tôi luôn lựa chọn nguyên liệu tốt nhất để tạo ra những
                món ăn đầy thú vị. Bất kể bạn đang ở đâu, chúng tôi cam kết giao hàng nhanh chóng và an toàn, mang đến
                trải nghiệm mua sắm trực tuyến tiện lợi và hấp dẫn.
                Dù bạn là người yêu thích hương vị truyền thống hay đang tìm kiếm những sự sáng tạo mới lạ, trang web
                của chúng tôi có đủ sự đa dạng để đáp ứng mọi mong muốn.<br> Hãy bắt đầu hành trình khám phá những món ngon
                tại trang web của chúng tôi và cho phép chúng tôi mang đến cho bạn một trải nghiệm ẩm thực thú vị và
                tiện lợi!
            </h6>
        </div>
        <div class="col-12 text-center">
            <p-button label="Ghé thăm cửa hàng" icon="pi pi-forward" iconPos="right"></p-button>
        </div>
        <div class="col-12" >
            <div class="full" id="map">
                
            </div>
        </div>
    </div>
</div>