<footer>
  <div class="footer-nav">
    <div class="container">

      <ul class="footer-nav-list">
        <li class="footer-nav-item">
          <h2 class="nav-title">Danh mục phổ biến</h2>
        </li>
        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Mì tôm</a>
        </li>
        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Gà rán</a>
        </li>
        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Bánh mì</a>
        </li>
        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Snack</a>
        </li>
        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Xem thêm</a>
        </li>
      </ul>

      <ul class="footer-nav-list">
        <li class="footer-nav-item">
          <h2 class="nav-title">Đồ ăn</h2>
        </li>
        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Giảm giá</a>
        </li>
        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Đồ ăn mới</a>
        </li>
        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Đồ ăn sắp hết hạn</a>
        </li>
        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Được mua nhiều nhất</a>
        </li>
        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Giá rẻ</a>
        </li>
      </ul>

      <ul class="footer-nav-list">
        <li class="footer-nav-item">
          <h2 class="nav-title">Dịch vụ</h2>
        </li>
        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Giao hàng</a>
        </li>
        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Đồ uống miễn phí</a>
        </li>
        <li class="footer-nav-item">
          <a href="#" class="footer-nav-link">Đặt hàng trục tuyến</a>
        </li>
      </ul>

      <ul class="footer-nav-list">
        <li class="footer-nav-item">
          <h2 class="nav-title">Liên hệ</h2>
        </li>
       
        <li class="footer-nav-item flex">
          <div class="icon-box">
            <ion-icon name="location-outline"></ion-icon>
          </div>
          <address class="content">
            100 Đường Thôn Nhuệ Giang, Tây Mỗ, Từ Liêm, Hà Nội
          </address>
        </li>

        <li class="footer-nav-item flex">
          <div class="icon-box">
            <ion-icon name="call-outline"></ion-icon>
          </div>

          <a href="tel:999999999" class="footer-nav-link">(+84) 999999999</a>
        </li>

        <li class="footer-nav-item flex">
          <div class="icon-box">
            <ion-icon name="mail-outline"></ion-icon>
          </div>
          <a href="mailto:cuahangbandoannhanh@gmail.com" class="footer-nav-link">cuahangbandoannhanh@gmail.com</a>
        </li>
      </ul>
    </div>

  </div>

  <div class="footer-bottom">
    <div class="container">
      <img src="./assets/images/payment.png" alt="payment method" class="payment-img">
      <p class="copyright">
        Copyright &copy; <a href="#">Anon</a> all rights reserved.
      </p>
    </div>
  </div>
</footer>