<div class="card">
    <div class="grid">
        <div class="col-12 text-center">
            <h1>Liên hệ với cửa hàng</h1>
        </div>
        <div class="col-5">
            <img style="margin-right: auto; margin-left: auto;" [src]="'http://frontend-basic.learning.nentang.vn/course-bootstrap/project-trang-web-ban-hang/assets/img/marketing/marketing-1.png'"  width="70%"   />
        </div>
        <div class="col-6">
            <div class="grid">
                <div class="col-12 pb-0">Email của bạn</div>
                <div class="col-12">
                    <input pInputText type="text" placeholder="Email của bạn"  />
                </div>
                <div class="col-12 pb-0">Tiêu đề của bạn</div>
                <div class="col-12">
                    <input pInputText type="text" placeholder="Tiêu đề của bạn"  />
                </div>
                <div class="col-12 pb-0">Lời nhắn của bạn</div>
                <div class="col-12">
                    <textarea rows="5" cols="30" pInputTextarea [autoResize]="true"></textarea>
                </div>
                <div class="col-12">
                    <button pButton pRipple label="Gửi lời nhắn" class="p-button-info"></button>
                </div>
            </div>
        </div>

        <div class="col-12" >
            <div class="full" id="map">
                
            </div>
        </div>
    </div>
</div>